/* Structure */
body {
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	background-color: #022A33;
	padding: 0;
	margin: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#mainDiv {
    max-width: 1800px;
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
    overflow-x: hidden;
}

#eb {
    width: 100%;
    height: 100%;
    margin-left: 8%;

}

#eb img {
    max-width: 20%; 
    padding: 0px 20px 60px 0px; 
    vertical-align: text-top;
}

.colours {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 50px;
    max-width: 1000px;
  }

.circle {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 24px;
}

#header {
    width: 100%;
    height: 152px;
    position: relative;
    display: block;
}

#type {
    max-width: 800px;
}

.content {
    width: 50%;
    max-width: 800px;
    margin-top: -16px;
}

.break80 {
    height: 80px;
}

.break40 {
    height: 40px;
}

.break24 {
    height: 24px;
}


#bottomDiv {
    position: relative;
    float: left;
    bottom: 0;
    margin: 0;
    background-color: #011D23;
    width: 100%;
}

#footer {
    max-width: 1800px;
    margin-left: 8%;
    margin-right: 8%;
    height:80px;
    position: relative;
    display: block;
}

#codeyBoys {
    font-family: Courier, 'New Courier', monospace;
    color: #01FFB3;
    font-size: 16px;
    padding: 24px;
    height: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #0D0D0D;
}

/* Fonts */

h1 {
	color: #fff;
	font-size: 56px;
	line-height: 64px;
	font-family: 'Lexend Deca', sans-serif;
	margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

h5 {
    color: #01FFB3;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h6 {
    color: #6E6D6D;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p {
	color: #fff;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #00FEBB;
	line-height: 24px;
	text-decoration: none;
	text-decoration: underline;
}

a:hover {
    position: inherit;
    color: #fff;
    line-height: 24px;
    text-decoration: underline;
    box-shadow: 0px 0px 0px 8px hsl(191, 92%, 5%);
    background-color: #011D23;
    border-radius: 0.1px;
    z-index: -2;
}

a:active {
    color: #BCFE6B;
    text-decoration: none;
}

strong {
    text-decoration: underline;
}

.type h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
}

.type h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
}

.type p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

/* Forms */

#emailCap {
    width: 100%;
}

input {
    height: 48px;
    background-color: transparent;
    border: 2px solid #00FEBB;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 0px 12px;
    font-family: "Questrial", sans-serif;
}

input:required {
    color: #00FEBB;
}

input:hover {
    background-color: #011D23;
}

input:active {
    color: #00FEBB;
}

input:inactive {
    color: #fff;
}

input:valid {
    border: 2px solid #BCFE6B;
    color: #BCFE6B;
}

input[type="email"] {
    width: 100%;
}

input[type="Submit"] {
    height: 48px;
    background-color: #00FEBB;
    border: 2px solid #00FEBB;
    padding: 0px 24px;
    border-radius: 4px;
    color: #022A33;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}

input[type="Submit"]:hover {
    border: 2px solid #00FEBB;
    background-color: #011D23;
    color: #00FEBB;
    text-decoration: underline;
}

input[type="Submit"]:active {
    border: 2px solid #BCFE6B;
    background-color: #BCFE6B;
    color: #022A33;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 28px;
    }
    
    .content {
        width: 90%;
        margin-top: -16px;
    }
    
    #mainDiv {
        padding: 0 4%;
    }
    
    #footerLogo {
        width: 100%;
    }
    
    #footerLeft {
        position: absolute;
        top: 80px;
        margin-left: 0px;
        margin-bottom: 24px;
        margin-top: 8px;
    }
    
    #footer {
        height: 144px;
    }

}