/* Structure */
body {
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	background-color: #022A33;
	padding: 0;
	margin: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#mainDiv {
    max-width: 1800px;
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
}

#eb {
    width: 100%;
    height: 100%;
    margin-left: 8%;
    overflow-x: hidden;
}

#eb img {
    max-width: 20%; 
    padding: 0px 20px 60px 0px; 
    vertical-align: text-top;
}

.colours {
    display: flex;
}

.colours > div {
    flex: 1;
    padding: 20px 24px 20px 0px;
}


#header {
    width: 100%;
    height: 152px;
    position: relative;
    display: block;
}

.logo {
    position: absolute;
    float: left;
    top: 40px;
    height: 72px;
    width: 20%;
}

.logo a:hover {
    position: inherit;
    color: #fff;
    line-height: 24px;
    text-decoration: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    background-color: transparent;
    border-radius: none;
    z-index: -2;
}

#headerRight {
    position: absolute;
    top: 50%;
    height: 72px;
    width: 80%;
    margin-top: -50px;
    margin-left: 20%;
}

.menu {
    height: 24px;
    line-height: 24px;
    padding: 24px;
    float: right;
}

.content {
    width: 50%;
    max-width: 800px;
    margin-top: -16px;
}

.break80 {
    height: 80px;
}

.break40 {
    height: 40px;
}

.break24 {
    height: 24px;
}


#bottomDiv {
    position: relative;
    float: left;
    bottom: 0;
    margin: 0;
    background-color: #011D23;
    width: 100%;
}

#footer {
    max-width: 1800px;
    margin-left: 8%;
    margin-right: 8%;
    height:80px;
    position: relative;
    display: block;
}

#footerLogo {
    position: absolute;
    float: left;
    top: 24px;
    height: 40px;
}

#footerLeft {
    position: absolute;
    top: 28px;
    margin-left: 128px;
}

#footerRight {
    position: absolute;
    top: 32px;
    right: 0;
    padding: 0;
}

/* Fonts */

h1 {
	color: #fff;
	font-size: 56px;
	line-height: 64px;
	font-family: 'Lexend Deca', sans-serif;
	margin: 0;
}

h2 {
    color: #fff;
	font-size: 24px;
	line-height: 32px;
	font-family: 'Questrial', sans-serif;
	margin: 0;
}

h3 {
    color: #fff;
    font-size:22px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}

h4 {
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}

h5 {
    color: #ABAAAA;
    font-size: 12px;
	line-height: 16px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}

h6 {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Questrial', sans-serif;
    margin: 0;
}

p {
	color: #fff;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #00FEBB;
	line-height: 24px;
	text-decoration: none;
	text-decoration: underline;
}

a:hover {
    position: inherit;
    color: #fff;
    line-height: 24px;
    text-decoration: underline;
    box-shadow: 0px 0px 0px 8px hsl(191, 92%, 5%);
    background-color: #011D23;
    border-radius: 0.1px;
    z-index: -2;
}

a:active {
    color: #BCFE6B;
    text-decoration: none;
}

strong {
    text-decoration: underline;
}

/* Forms */

#emailCap {
    width: 100%;
}

input {
    height: 48px;
    background-color: transparent;
    border: 2px solid #00FEBB;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 0px 12px;
    font-family: "Questrial", sans-serif;
}

input:required {
    color: #00FEBB;
}

input:hover {
    background-color: #011D23;
}

input:active {
    color: #00FEBB;
}

input:inactive {
    color: #fff;
}

input:valid {
    border: 2px solid #BCFE6B;
    color: #BCFE6B;
}

input[type="email"] {
    width: 100%;
}

input[type="Submit"] {
    height: 48px;
    background-color: #00FEBB;
    border: 2px solid #00FEBB;
    padding: 0px 24px;
    border-radius: 4px;
    color: #022A33;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}

input[type="Submit"]:hover {
    border: 2px solid #00FEBB;
    background-color: #011D23;
    color: #00FEBB;
    text-decoration: underline;
}

input[type="Submit"]:active {
    border: 2px solid #BCFE6B;
    background-color: #BCFE6B;
    color: #022A33;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 28px;
    }
    
    .content {
        width: 90%;
        margin-top: -16px;
    }
    
    #mainDiv {
        padding: 0 4%;
    }
    
    #footerLogo {
        width: 100%;
    }
    
    #footerLeft {
        position: absolute;
        top: 80px;
        margin-left: 0px;
        margin-bottom: 24px;
        margin-top: 8px;
    }
    
    #footer {
        height: 144px;
    }

}